<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cmpe 281</title>
  <%- include('../partials/head'); %>
    <%- include('../partials/sidebarHeader'); %>

    <style>
      .Booked{
        color:red;
      }
      .Active{
        color:green;
      }
      .Finished{
        color:blue;
      }
    </style>
</head>

<body>

  <%- include('../partials/sidebar'); %>
    <div class="row p-3">
      <div class="col-lg-8">
        <h1>Welcome <%= user_name %> !</h1>
        <span style="font-size: 20px; color:grey">Check the status of your drone service booking here.</span>
      </div>
      <div class="col-lg-4">
        <img src="https://static.vecteezy.com/system/resources/previews/004/987/116/original/illustration-indian-farmer-on-his-farm-doing-farming-farmer-working-on-field-illustration-character-design-background-happy-farmers-day-free-vector.jpg"
          style="border-radius: 100%; width: 200px;" alt="">
      </div>
    </div>
    <hr>
    <div class="row mt-2">
      <h4 class="m-2">All Bookings</h4>
      <input class="form-control m-2" id="myInput" type="text" placeholder="Search">

      <table class="table p-2" style="background-color: white;">
        <thead>
          <tr>
            <th scope="col">Service ID#</th>
            <th scope="col">Farmland</th>
            <th scope="col">Land Type</th>
            <th scope="col">Service Type</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Status</th>
            <th scope="col">Trigger Simulation</th>
          </tr>
        </thead>
        <tbody id="myTable" >
          <% for(var i=0; i<booking.length; i++){ %> 
          <tr>
            <td> ID# <%= booking[i]._id %></td>
            <td><%= booking[i].farmland %></td>
            <td><%= booking[i].land_type %></td>
            <td>Rental: <%= booking[i].service %> </td>
            <td><%= booking[i].start_date %></td>
            <td><%= booking[i].end_date %></td>
            <td class="<%= booking[i].status %>"><%= booking[i].status %></td>
            <td><button id ="<%=  booking[i].dron_id %>" onclick="run(this.id)" class="btn btn-dark">Start Simulation</button></td>
          </tr>
          <% } %>
          
        </tbody>
      </table>
    </div>
    <%- include('../partials/sidebarFooter'); %>

</body>
<script>
  async function run(id){
    document.getElementById(id).value = "Started";
        let uri = 'http://ec2-52-203-10-77.compute-1.amazonaws.com/flight_data_collect/fly-simulation/';
    let payload = '{"fileType":"Plan","mission":{"cruiseSpeed":15,"hoverSpeed":5,"items":[{"altitude":50.00000000005293,"latitude":37.558605,"longitude":-122.04754200000004,"type":"SimpleItem"},{"altitude":49.99999999958835,"latitude":37.55864599999999,"longitude":-122.04716700000002,"type":"SimpleItem"},{"altitude":50.00000000023102,"latitude":37.55854299999999,"longitude":-122.04714700000001,"type":"SimpleItem"},{"altitude":50.00000000013322,"latitude":37.55850099999999,"longitude":-122.04753699999999,"type":"SimpleItem"},{"altitude":49.99999999947457,"latitude":37.55857599999999,"longitude":-122.04759100000001,"type":"SimpleItem"},{"altitude":14.99999999988875,"latitude":37.55835499999999,"longitude":-122.047656,"type":"SimpleItem"},{"altitude":14.99999999990697,"latitude":37.558277999999994,"longitude":-122.04764200000001,"type":"SimpleItem"},{"altitude":14.999999999058375,"latitude":37.55827200000002,"longitude":-122.04751300000001,"type":"SimpleItem"},{"altitude":14.999999999587114,"latitude":37.558371999999984,"longitude":-122.047544,"type":"SimpleItem"},{"altitude":14.999999999485869,"latitude":37.558385999999985,"longitude":-122.047313,"type":"SimpleItem"},{"altitude":15.00000000058955,"latitude":37.558317,"longitude":-122.04730100000003,"type":"SimpleItem"},{"altitude":14.99999999915223,"latitude":37.558319,"longitude":-122.04721900000001,"type":"SimpleItem"},{"altitude":14.999999998778456,"latitude":37.5584,"longitude":-122.047232,"type":"SimpleItem"}]}}';

var mybody = {
  dron_id : 14579,
  service_id:65,
  plan : payload
}
form = new FormData();
form.append('drone_id', '14579');
form.append('service_id', '65');
form.append('plan', payload);


const response = await fetch(uri, {
  method: 'POST',
  body: form
});

const myJson = await response.json();
document.getElementById(id).value = "Done";
console.log("done");

}
</script>

</html>