<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cmpe 281</title>
  <%- include('../partials/head'); %>
    <%- include('../partials/sidebarHeader'); %>
</head>

<body>

  <%- include('../partials/sidebar'); %>

    <h1 class="w-100 text-center m-2">Booking Process</h1>
    <hr>
    <%- include('../partials/selectFarmland'); %>
      </div>
      <%- include('../partials/sidebarFooter'); %>
        <%- include('../partials/footer'); %>
</body>

</html>